footer{
    background: #eff0f2;
    padding: 80px 0;
}

.social-container{
    display:-ms-grid;
    display:grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
    margin: 0 auto;
   
}

.social-container a{
    font-size: 4.5rem;
    color: #7b7c7e;
    text-decoration: none;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    display: inline-block;
    padding: 5px;
   

}

.social-container a:hover{
    color: rgb(52, 73, 94);
    -webkit-box-shadow: 2px 10px 3px;
            box-shadow: 2px 10px 3px;
}

footer .f-name{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 400px;
    margin: 0 auto;

}

footer h5{
    font-size: 3.5rem;
   
    text-align: center;
   margin: 1.5rem 0;
   text-transform: uppercase;
   font-weight: 700;
   letter-spacing: 2px;
   background-image: -webkit-gradient(linear, left top, right top, from(#2c3e50), to(#7f8c8d));
   background-image: -webkit-linear-gradient(left, #2c3e50, #7f8c8d);
   background-image: -o-linear-gradient(left, #2c3e50, #7f8c8d);
   background-image: linear-gradient(to right, #2c3e50, #7f8c8d);
   -webkit-background-clip: text;
   color: transparent;
   -webkit-transition: all .2s;
   -o-transition: all .2s;
   transition: all .2s;
   display: inline-block;
    
   
  
}

footer h5:hover{
    -webkit-transform: skewY(2deg) skewX(15deg) scale(1.1);
        -ms-transform: skewY(2deg) skewX(15deg) scale(1.1);
            transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem  rgba(0, 0, 0, 0.199);
}


footer p{
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px 0;
}

/* Media Queries */

/* tablets */

@media only screen and (max-width: 960px) {
     
}

/* phones */

@media only screen and (max-width: 767px) {
    
}
