.portfolio-projects{
    padding: 100px 15px;

}

.portfolio-projects .project-img{
    width: 80%;
    margin-bottom: 4rem;
}

.portfolio-projects .project-img .img{
    width: 80%;
    height: 450px;
    background-repeat: no-repeat !important;
    background-position: center center !important;
    background-size: contain !important;
    

}
   
 

.portfolio-projects h1{
    font-size: 4.2rem;
    font-weight: 400;
    font-style: italic;
    border-bottom: 1px solid black;
    display: inline-block;
    padding: 5px 0;
    margin-bottom: 1.5rem;
    letter-spacing: 2px;
}

.portfolio-projects .tech-info .tech-btn{
    padding: 20px 0;

}

.portfolio-projects .tech-info .tech-btn a{
    text-decoration: none;
    padding: 10px 20px;
    color: #fff;
    background: black;
    margin-right: 10px;

    text-transform: capitalize;
    font-size: 1.4rem;
    transition: all .2s;
  
}

.portfolio-projects .tech-info .tech-btn a:hover{
    background-color: #bdc3c7;  
    color: black;
    box-shadow: 0 1rem 2rem rgba(0,0,0,.3); 
    transform: translateY(-2px);
   
}
.portfolio-projects .tech-info .tech-btn a:active{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.3);
    transform: translateY(0);
        }





.portfolio-projects .tech-info .tech-btn a i{
    padding-left: 7px;
}

.portfolio-projects p{
    color:rgb(117, 117, 117);
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin:13px 0 15px 0;
     
}

.portfolio-projects .technologies{
   margin-bottom: 2.5rem;
}

.portfolio-projects .technologies h5{
    font-size: 2.7rem;
    text-transform: uppercase;
    
    display: block;
    padding: 5px 0;
    margin: 2rem 0;
    letter-spacing: 2px;
    
     
}

 


.portfolio-projects .technologies .tech-icons .icon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 15px;
    align-items: center;
    justify-items: center;
}

.portfolio-projects .technologies .tech-icons .icon img{
    width: 85%;
    max-width: 150px;
    height: 150px;
    
}


