.skills{
    padding: 80px 15px;
}
    

.skills .title{
    position: relative;
    width: 200px;
    height: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;

}

.skills .title .circle{
    width: 150px;
    height: 150px;
    background:#64c0fa;
    border-radius: 50%;
    position: absolute;
    top: 23px;
   

}

.skills .title h1{
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 2.8rem;
    letter-spacing: 4px;
    color: #17181d;
     
    z-index: 1;
    position: relative;
     
     
}

.skills-container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 40px 1fr 40px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
    
}

.skills-container .box{
   /* background:  rgb(238, 238, 238, 0); */
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 40px;
}

.skills-container .box ul li{
    padding: 3px 0;
}

.skills-container .box:hover{
     background: rgb(255, 255, 255);
      
   -webkit-box-shadow: 0px 14px 32px -1px rgba(0,0,0,0.75);
           box-shadow: 0px 14px 32px -1px rgba(0,0,0,0.75);
   cursor: pointer;
    
}

.skills-container .box .fab{
    margin-bottom: 1rem;
}

.skills-container .box:hover .fa-html5{
    color: rgb(255, 165, 0);
}

.skills-container .box:hover .fa-css3-alt{
    color: rgb(9, 132, 227);
}

.skills-container .box:hover .fa-js{
    color: rgb(243, 240, 57);
    background: rgb(0, 0, 0);
}

.skills-container .box h3{
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 2rem;
   
    
}

.skills-container .box p{
    color: #999999;
    font-size: 1.1em;
    line-height: 15px;
}



.skills-container .box.blue{
    border-bottom: 2px solid rgb(255, 165, 0); 
}

.skills-container .box.red{
    border-bottom: 2px solid  rgb(9, 132, 227); 
}

.skills-container .box.yellow{
    border-bottom: 2px solid rgb(243, 240, 57); 
}

/* Media Queries */

/* tablets */

@media only screen and (max-width: 960px) {
    .skills .title{
        margin-bottom: 1rem;
    } 
    .skills-container{
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        text-align: center;
    }

    .skills-container .box ul li{
        padding: 5px 0;
    }

    .skills-container .box{
        background: rgb(255, 255, 255);
       -webkit-box-shadow: 0px 14px 32px -1px rgba(0,0,0,0.75);
               box-shadow: 0px 14px 32px -1px rgba(0,0,0,0.75);
       margin: 10px 0;
       
        
    }

    .skills-container .box  .fa-html5{
        color: rgb(255, 165, 0);
    }
    
    .skills-container .box  .fa-css3-alt{
        color: rgb(9, 132, 227);
    }
    
    .skills-container .box  .fa-js{
        color: rgb(243, 240, 57);
        background: rgb(0, 0, 0);
    }

   
}

/* phones */

@media only screen and (max-width: 767px) {
    .skills .title{
        margin-bottom: 1rem;
    } 
    .skills-container{
        -ms-grid-columns: 100%;
        grid-template-columns: 100%;
        text-align: center;
    }
    
}
